@media only screen and (min-width: 60em) {
  .langOutput {
    grid-template-columns: 1fr 3rem 1fr;
  }

  .right {
    width: 75%;
  }

  .left {
    width: 75%;
  }

  .instructions {
    max-width: 50%;
  }

  p {
    line-height: 27px;
    font-size: 18px;
  }
}
