@media only screen and (min-width: 60em) {
    .instructions {
        margin: 0 10rem;
    }
    .langOutput {
        margin: 0 13rem;
    }
    .langOutput h1,
    .langOutput p {
        grid-gap: 2rem;
    }
}