html {
    text-align: justify;
}

.title-number {
  font-weight: bold;
  font-size: 20px;
}

/* This chunk allows the dual scroll */
#langOutput,
html,
body,
main {
  height: 99.9%;
}

#left {
  float: left;
  width: 49%;
  height: 100%;
  overflow: scroll;
}

#left::-webkit-scrollbar {
  display: none;
}

#right {
  float: right;
  width: 49%;
  height: 100%;
  overflow: scroll;
}

#right::-webkit-scrollbar {
  display: none;
}
/* Dual scroll till here */

main {
  padding: 2rem;
}

#me {
  font-size: 15px;
  font-style: italic;
  text-align: right;
  margin-right: 1rem;
}

header {
  padding-top: 15px;
}

.choiceBar {
  margin: auto;
  text-align: center;
}

footer {
  padding: 10px;
}
