html {
  text-align: justify;
}

.title-number {
  font-weight: bold;
  font-size: 20px;
}

/* This chunk allows the dual scroll, source: http://jsfiddle.net/7ry4kndz/1/ */
.langOutput,
html,
body,
main {
  height: 99.9%;
}

.left {
  float: left;
  width: 49%;
  height: 100%;
  overflow: scroll;
}

.left::-webkit-scrollbar {
  display: none;
}

.right {
  float: right;
  width: 49%;
  height: 100%;
  overflow: scroll;
}

.right::-webkit-scrollbar {
  display: none;
}
/* Dual scroll till here */

/* Idea on how to allign verses... But more complicated than the example: https://stackoverflow.com/questions/38275925/how-to-align-two-columns-in-html */

main {
  padding: 2rem;
}

.me {
  font-size: 15px;
  font-style: italic;
  text-align: right;
  margin-right: 1rem;
}

header {
  padding-top: 15px;
}

#choiceBar {
  margin: auto;
  text-align: center;
}

footer {
  padding: 10px;
}

/* Makes the choiceBar dissapear. I haven't checked this thoroughly though */
#choiceBar {
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  padding: 15px;
}

#choiceBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#choiceBar a:hover {
  background-color: #ddd;
  color: black;
}
